.battery-progress {
  margin: 10px;
}

.avatar {
  margin: 10px;
}

.battery-box {
  margin-bottom: 5px;
}

.uptime-box {
  margin-top: 5px;
}

.logout {
  color: red;
  font-size: 25px;
}

.lock {
  color: green;
  font-size: 25px;
}

.power-menu-button {
  border-radius: 50px;
}

.power-menu-button:hover {
  background: white;
}
