.header {
  margin-top: 10px;
  background: #2c2e32;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid #3d3f43;
}

.battery-progress {
  margin: 10px;
}

.avatar {
  margin: 10px;
  background: #3d3f43;
  border-radius: 10px;

  border: 1px solid #4e4f54;
}

.battery-box {
  margin-bottom: 5px;
}

.uptime-box {
  margin-top: 5px;
}
